*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(50, 176, 235);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;

}button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 176, 235);
  z-index:-1;
  transition: 0.2s;
}
button:hover::before{
transform: scale(1.5);
opacity: 0;

}